.post-container {
  border: 1px solid lightgray;
  max-width: 640px;
}

.post-content {
  display: flex;
}

.user-logo {
  border-radius: 100%;
  width: 35px;
}

.like-logo {
  width: 30px;
  height: 30px;
}

.comment-logo {
  width: 55px;
  height: 50px;
  color: black;
}